@font-face {
  font-family: "iconfont"; /* Project id 4454508 */
  src: url('//at.alicdn.com/t/c/font_4454508_b1k03u26d2p.woff2?t=1709629954420') format('woff2'),
       url('//at.alicdn.com/t/c/font_4454508_b1k03u26d2p.woff?t=1709629954420') format('woff'),
       url('//at.alicdn.com/t/c/font_4454508_b1k03u26d2p.ttf?t=1709629954420') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e667";
}

.icon-email:before {
  content: "\e66f";
}

.icon-play:before {
  content: "\e67a";
}

.icon-line-reward:before {
  content: "\e6b0";
}

.icon-moon:before {
  content: "\e867";
}

.icon-TOC-tag:before {
  content: "\e72a";
}

.icon-Arrows_Arrow_Narrow_Down:before {
  content: "\e914";
}

.icon-copy:before {
  content: "\e706";
}

.icon-back-top-copy:before {
  content: "\e600";
}

.icon-close:before {
  content: "\e60a";
}

.icon-next:before {
  content: "\e615";
}

.icon-sun:before {
  content: "\e601";
}

.icon-double-arrows:before {
  content: "\e684";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-read:before {
  content: "\e7d8";
}

.icon-clock:before {
  content: "\e819";
}

.icon-search:before {
  content: "\e65a";
}

.icon-user-tag-solid:before {
  content: "\e7c2";
}

.icon-gitee:before {
  content: "\e610";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-bilibili:before {
  content: "\e849";
}

